<% form_path = product.new_record? ? backoffice_products_path : backoffice_product_path %>
<% form_method = product.new_record? ? :post : :patch %>

<%= simple_form_for(product, url: form_path, method: form_method) do |form| %>
  <%= form.input :title, wrapper_html: { class: "mb-4" } %>

  <%= form.input :description, wrapper_html: { class: "mb-4" }  %>

  <%= form.input :quantity, wrapper_html: { class: "mb-4" }  %>

  <%= form.input :price, wrapper_html: { class: "mb-4" }  %>

  <%= form.input :category_id, as: :select, collection: Category.all, wrapper_html: { class: "mb-4" }  %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
